@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$dark-light: #505050;
$dark-ultra-light: #7A7A7A;
$dark: #272727;
$accent: #09CA6D;
$text: #D6D6D6;


body {
    margin: 0;
    overflow-x: hidden;
    background-color: $dark-light;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: $text;
}

.body-calculator {
    margin: 0 auto;
    margin-top: 2rem;
    width: 376px;
    height: 544px;
    background: $dark-ultra-light;
    border-radius: 1rem;
    box-shadow: 0 8px 32px $dark;
    overflow: hidden;
    
    .header-calculator > * {
        margin: 0;
        text-align: right;
    }
    
    .header-calculator {
        background: $dark; 
        height: 108px;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .new-result {
            font-size: 2rem;
        }
    }

    .wrap {
        height: calc(100% - 108px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .group-buttons {
        width: 248px;
        height: 314px;
        align-content: space-between;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
            width: 50px;
            height: 50px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }
        .item:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 200ms ease-in;
        }
        .operations-buttons {
            background: $dark;
        }
        .number-buttons {
            background: $dark-light;
        }
        .result-button {
            background-color: $accent;
            font-size: 2rem;
            width: 182px;
            transition: all 100ms ease-in;

            &:hover {
                transform: scale(1);
                background: $dark;
                transition: all 100ms ease-in;
            }
        }
    }
}